body
{
  background-color: black;
  font-family: Arial;
  text-align: center;
  font-size: 20px;
}
header
{
  color: #edde0e;
}
section
{
  color: #fcfbed;
}
article
{
  width: 960px;
  background-color: #fcfcd1;
  margin: 0 auto;
  color: black;
  border-radius: 5px;
  text-align: left;
  padding: 5px;
  font-style: italic;
}
#p3, #p4
{
  color: #ffa900;
}
#gitLogo
{
  width: 200px;
  padding-right: 20px;
}
#gitHubLogo
{
  width: 250px;
  padding-left: 20px;
}
#imagenes
{
  text-align: center;
}
